html{scroll-behavior: smooth;}

body{
   margin: 0;
   padding: 0;
   color: #000;
   background: #e9f7ef;
   /*background-image: url(background.jpg);*/
   background-repeat: no-repeat;
   background-size: cover;
   text-align: left;
   font-family: "Open Sans", sans-serif;
   }


   #loading-screen{
   width: 100%;
   height: 100vh;
   background: #E8F5E9;
   position: fixed;
   align-items: center;
   justify-content: center;
   display: flex;
   z-index: 1000;
   }

   #loading{
   width: 50px;
   height: 50px;
   color: #43a047;
   border: 10px solid;
   border-radius: 50%;
   border-top-color: transparent;
   animation: loading 1s infinite;
   }

   #content{
   width: 100%;
   max-width: 1100px;
   margin: auto;
   }

   #home{
   margin: 15px;
   font-family: 'Mountains of Christmas', cursive;
   user-select: none;
   }

   #doors{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   font-family: 'Mountains of Christmas', cursive;
   }

   .door{
   width: 12.5%;
   max-width: 120px;
   height: 12.5vw;
   max-height: 120px;
   font-size: 24px;
   margin: 5%;
   text-align: center;
   user-select: none;
   justify-content: center;
   }

   .door:nth-child(4n){
   background: #3498db;
   }

   .door:nth-child(4n+1){
   background: #2ecc71;
   }

   .door:nth-child(4n+2){
   background: #e74c3c;
   }

   .door:nth-child(4n+3){
   background: #f39c12;
   }

   .door:hover{
   filter: grayscale(50%);
   }

   .past{
   filter: grayscale(80%);
   }

   .alert{
   width: 80%;
   height: auto;
   min-height: 200px;
   position: fixed;
   border: 8px solid #9b59b6;
   border-radius: 12px;
   margin: auto;
   margin-left: 10%;
   top: 5vh;
   background: #f4f4f4;
   user-select: none;
   display: none;
   }

   .alert h1{
   margin: 15px;
   font-family: 'Mountains of Christmas', cursive;
   }

   .alert p{
   margin: 15px;
   }

   .close-btn{
   font-size: 36px;
   position: fixed;
   right: 10%;
   top: calc(5vh + 25px);
   color: #000;
   transition: .2s all;
   }

   .close-btn:hover{
   color: #e74c3c;
   transition: .2s all;
   }

   a{
   text-decoration: none;
   color: #000;
   }

   a:hover{
   text-decoration: underline;
   color: #000;
   }

   @media screen and (max-width:600px){
      .door {
        width: 40%;
        height: 40vw;
      }
    }

    @media screen and (max-width:250px){
       .door {
         display: none;
       }
     }


   @keyframes loading{
   to{ transform: rotate(720deg); }
   }
